# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\tudor\Tudor\UNI\2ndYearCS_II\ProgrammingTechniques\PT2020\pt2020_30423_coroian_tudor_assignment_3\manager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
